<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100%">
    <mat-card>
      <mat-card-content>
        <mat-card-title>Approval / Rejection Queue <span class="m-l-5 label label-success">5</span></mat-card-title>
        <mat-card-subtitle>A selection list provides an interface for selecting values, where each list item is an option.</mat-card-subtitle>
        <mat-tab-group>
          <!-- Tab 1 -->
          <mat-tab>
              <ng-template mat-tab-label>
                  Pending Leave Requests <span class="m-l-5 label label-success">5</span>
              </ng-template>
              <mat-card-content>
              </mat-card-content>
          </mat-tab>
          <!-- End Tab 1 -->
          <!-- Tab 2 -->
          <mat-tab>
              <ng-template mat-tab-label>
                  Pending HR Requests <span class="m-l-5 label label-success">5</span>
              </ng-template>
              <mat-card-content>
              </mat-card-content>
          </mat-tab>
          <!-- End Tab 2 -->
          <!-- Tab 3 -->
          <mat-tab>
              <ng-template mat-tab-label>
                  Pending Holiday Work Requests <span class="m-l-5 label label-success">5</span>
              </ng-template>
              <mat-card-content>
              </mat-card-content>
          </mat-tab>
          <!-- End Tab 3 -->
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
</div>
