<div fxLayout="row wrap">
        <div fxFlex.gt-sm="100%">
          <mat-card>
            <mat-card-content>
                <mat-card-title>Welcome, <b>EMPSPNAME</b></mat-card-title>
                <mat-card-subtitle>A selection list provides an interface for selecting values, where each list item is an option.</mat-card-subtitle>  
                <mat-chip-list>
                    <mat-chip color="success"><mat-icon class="m-r-10">account_circle</mat-icon>Primary fish</mat-chip>
                </mat-chip-list>
            </mat-card-content>
          </mat-card>
        </div>
</div>
      


<div fxLayout="row wrap">
        <!-- column -->
        <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <mat-card-content>
                    <!-- Row -->
                    <div fxLayout="row wrap">
                        <!-- column -->
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                            <h3 class="m-0">Brought Fwd</h3>
                            <h1 class="text-themecolor m-0">5</h1>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="text-right">
                            <button mat-fab color="primary" mat-card-icon class="shadow-none">
                                <mat-icon>account_circle</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- column -->
        <!-- column -->
        <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                <mat-card>
                    <mat-card-content>
                        <!-- Row -->
                        <div fxLayout="row wrap">
                            <!-- column -->
                            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                                <h3 class="m-0">Leave Entitlement</h3>
                                <h1 class="text-themecolor m-0">86</h1>
                            </div>
                            <!-- column -->
                            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="text-right">
                                <button mat-fab color="primary" mat-card-icon class="shadow-none">
                                    <mat-icon>account_circle</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
        </div>
        <!-- column -->
        <!-- column -->
        <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <mat-card-content>
                    <!-- Row -->
                    <div fxLayout="row wrap">
                        <!-- column -->
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                            <h3 class="m-0">Leave Consumed</h3>
                            <h1 class="text-themecolor m-0">86</h1>
                        </div>
                        <!-- column -->
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="text-right">
                            <button mat-fab color="primary" mat-card-icon class="shadow-none">
                                <mat-icon>account_circle</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- column -->
        <!-- column -->
        <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
                <mat-card>
                    <mat-card-content>
                        <!-- Row -->
                        <div fxLayout="row wrap">
                            <!-- column -->
                            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                                <h3 class="m-0">Leave Balance</h3>
                                <h1 class="text-themecolor m-0">86</h1>
                            </div>
                            <!-- column -->
                            <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" class="text-right">
                                <button mat-fab color="primary" mat-card-icon class="shadow-none">
                                    <mat-icon>account_circle</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
        </div>
        <!-- column -->
</div>

<div fxLayout="row wrap">
        <!-- column -->
        <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
                <mat-card>
                    <mat-card-content>
                        <!-- column -->
                        <div class="stats">
                            <h3 class="m-0">Adjustments</h3>
                            <div class="d-flex flex-row no-block">
                                <div class="p-10 p-l-0 b-r">
                                    <div class="font-light">All</div>
                                    <b>80.40%</b>
                                </div>
                                <div class="p-10 b-r">
                                    <div class="font-light">Individual (Active)</div>
                                    <b>20.40%</b>
                                </div>
                                <div class="p-10">
                                    <div class="font-light">Individual (Expired)</div>
                                    <b>5.40%</b>
                                </div>
                            </div>
                        </div>
                        <div class="sitea"></div>
        
                    </mat-card-content>
                </mat-card>
        </div>
        <!-- column -->
        <!-- column -->
        <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card>
                <mat-card-content>
                    <!-- column -->
                    <div class="stats">
                        <h3 class="m-0">Comp-Off Summary</h3>
                        <div class="d-flex flex-row no-block">
                            <div class="p-10 p-l-0 b-r">
                                <div class="font-light">Balance</div>
                                <b>80.40%</b>
                            </div>
                            <div class="p-10 b-r">
                                <div class="font-light">Consumed</div>
                                <b>20.40%</b>
                            </div>
                            <div class="p-10">
                                <div class="font-light">Expired</div>
                                <b>5.40%</b>
                            </div>
                        </div>
                    </div>
                    <div class="sitea"></div>
    
                </mat-card-content>
            </mat-card>
        </div>
        <!-- column -->
</div>