<!-- ============================================================== -->
<!-- List with selection-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100%">
    <mat-card>
      <mat-card-content>
        <mat-card-title>List with selection</mat-card-title>
        <mat-card-subtitle>A selection list provides an interface for selecting values, where each list item is an option.</mat-card-subtitle>
        <mat-selection-list #roles [(ngModel)]="selectedRoles" (ngModelChange)="onRoleChange($event)">
          <mat-list-option *ngFor="let role of rolelist" [value]="role">
            {{role}}
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
