<!-- ============================================================== -->
<!-- Image Card row-->
<!-- ============================================================== -->
<div fxLayout="row wrap">
        <!-- Card column -->
        <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-card class="oh text-center little-profile">
                <img mat-card-image src="assets/images/profile-bg.jpg">
                <mat-card-content>
                    <div class="pro-img">
                        <img src="assets/images/user.jpg" width="100">
                    </div>
                    <h1 class="m-b-0">EMP SAPNAME</h1>
                    <h4 class="m-b-0">REGION</h4>
                    <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" class="m-20">
                                <mat-form-field appearance="outline">
                                        <mat-label>Outline form field</mat-label>
                                        <input matInput value="Value" disabled>
                                </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" class="m-20">
                                <mat-form-field appearance="outline">
                                        <mat-label>Outline form field</mat-label>
                                        <input matInput value="Value" disabled>
                                </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
                            <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" class="m-20">
                                    <mat-form-field appearance="outline">
                                            <mat-label>Outline form field</mat-label>
                                            <input matInput value="Value" disabled>
                                    </mat-form-field>
                            </div>
                            <div fxFlex.gt-sm="50" fxFlex.gt-xs="100" fxFlex="100" class="m-20">
                                    <mat-form-field appearance="outline">
                                            <mat-label>Outline form field</mat-label>
                                            <input matInput value="Value" disabled>
                                    </mat-form-field>
                            </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- Card column -->
</div>