/*******************
 Topbar
*******************/
mat-toolbar{
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.5);
    &.topbar{
        padding: 0px 15px;
    }
    .navbar-header {
        text-align: center;
        .navbar-brand {
            display: flex;
            line-height: 18px;
            align-items: center;
            b {
               margin-right: 5px;
            }
        }
    }
    .profile-pic{
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }
}
/*******************
 Topbar
*******************/
.topbar {
  position: relative;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mailbox {
  .dd-icon{
    font-size: 16px;
    width: 25px;
    transition: 0.2s ease-in;
    margin: 5px 5px 5px 5px;
    height: 25px;
  }
  width: 280px;
  ul { margin: 0px;
          padding: 0px;
          li {
              list-style: none;
          }
      }
  ul li {
      .drop-title {
          font-weight: 500;
          padding: 11px 15px 15px;
          border-bottom: 1px solid $border;
      }
  }
  .message-center {
      height: 230px;
      overflow: auto;
      position: relative;
      a {
          border-bottom: 1px solid $border;
          display: flex;
          color:$headingtext;
          align-items: center;
          text-decoration: none;
          padding: 9px 15px;
          &:hover {
              background: $white;
          }
          div {
              white-space: normal;
          }
          .round{
              flex-shrink: 0;
              margin: 0 10px 0px 0;
          }
          .mail-content{
              overflow: hidden;
          }
          .mail-content {

              h5 {
                  margin: 5px 0px 0;
              }
          }
      }
  }
}

