/*============================================================== 
 For Laptop & above all (1650px) 
 ============================================================== */

@media(min-width:1650px) {
    .main-container.boxed{
        max-width: 1920px;
        margin: 0 auto;
    }
}

/*============================================================== 
 For Laptop & above all (1370px) 
 ============================================================== */

@media(max-width:1600px) {
     .main-container.boxed{
        max-width: 1300px;
        margin: 0 auto;
    } 
}

/*-- ============================================================== 
 Ipad & above all(768px) 
 ============================================================== */

@media(min-width:768px) {
    .navbar-header {
        width: 225px;
        flex-shrink:0;
        .navbar-brand {
            padding-top: 0px;
        }
    }
    
}


/*-- ============================================================== 
 Phone and below ipad(767px) 
 ============================================================== */

@media(max-width:767px) {
    .mat-toolbar-single-row{
        height: 64px!important;
    }
    .float-sm-left {
		float: left;
	}
}